target
bin
.classpath
.settings
.project
.git
target/
*.log
upload/*
**/.DS_store
.idea/
symphony.iml
nb-configuration.xml
/bin/
/.settings/
/.classpath
/.project
src/main/generated-sources/*
generated-sources